* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    overflow-x: hidden;
}

:root {
    --primary-text: aliceblue;
    --bg-dark: rgb(16, 16, 19);
    --secondary-text: rgb(130, 141, 151);
    --dark-text: rgb(35, 36, 39);
}

a {
    text-decoration: none;
    color: var(--primary-text);
}


/* Header Section Start  */
header {
    width: 100vw;
    height: 60px;
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 33px;
    height: 32px;
    margin-right: 10px;

}

.links a {
    margin-right: 30px;
}

/* Header Section End  */

/* Main Section Start  */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* First Section Start  */

.first-section {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
}

.first-section-box {
    width: 50%;
    padding: 20px;
}

.first-section-box h1 {
    font-size: 4.5rem;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text);
    margin-bottom: 10px;
}

.first-section-box p {
    color: var(--secondary-text);
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.first-section-box .btn button {
    border: none;
    padding: 15px 30px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.first-section-box .btn button a {
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.first-section-box a {
    font-size: 14px;
}

.first-section-box i {
    font-size: 8px;
}

/* First Section End  */

/* Second Section Start  */
.second-section {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: var(--bg-dark);
    background-image: url(../Images/light-glow.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.second-section-box {
    width: 55%;
    text-align: center;
}

.second-section-box h2 {
    color: blue;
    font-weight: 200;
    word-spacing: 15px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.second-section-box h2 span {
    margin-left: 15px;
    color: var(--primary-text);
}

.second-section-box p {
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-text);
    font-size: 18px;
    margin-bottom: 30px;
}

.display-box {
    background-color: black;
    height: 450px;
    margin-bottom: 40px;
}

.display-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.dh-left i {
    font-size: 15px;
    color: rgb(59, 59, 59);
}

.dh-right i {
    font-size: 25px;
    color: rgb(160, 159, 159);
}

.display-body {
    text-align: start;
    padding: 10px 20px;
}

.display-body p {
    margin: 5px;
    padding: 0;
    font-size: 17px;
}

.display-body .main-content {
    margin-left: 10px;
    padding: 20px 10px;
}

.display-body .main-content>span {
    background-color: blueviolet;
    color: var(--primary-text);
    padding: 5px;
    font-weight: 900;
}

.display-body .first-content {
    margin-top: 30px;
}

.display-body .first-content span {
    color: red;
    background-color: rgb(92, 91, 91);
    padding: 2px 5px;
}

.display-body .second-content {
    margin-top: 30px;
}

.display-body .second-content p {
    color: var(--secondary-text);
}

.display-body .second-content span {
    color: #db61a2;
}

.second-section-box a {
    font-size: 22px;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Second Section End  */

/* Third Section Start  */

.third-section {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.third-section-box {
    width: 65%;
}

.third-section h1 {
    font-size: 4rem;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--dark-text);
    width: 80%;
    margin-bottom: 40px;
}

.ts-cards {
    display: flex;
}

.ts-card {
    margin-right: 20px;
}

.ts-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-text);
}

.ts-card p {
    font-size: 15px;
    color: var(--secondary-text);
    margin-bottom: 15px;
}

.ts-card a {
    color: rgb(57, 113, 158);
    font-size: 15px;
}

.ts-card i {
    font-size: 10px;
}

/* Third Section End  */

/* Fourth Section Start  */

.fourth-section {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.fourth-section-box {
    padding: 50px 40px;
    background-color: white;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(224, 228, 230);
    margin: 20px 0;
    z-index: 1;
}

.fourth-section-box h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-text);
}

.fourth-section-box p {
    color: var(--secondary-text);
    margin-bottom: 15px;
}

.fs-btn button {
    background-color: black;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    margin-bottom: 25px;
}

.fs-btn button a {
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.fourth-section-box a {
    color: rgb(57, 113, 158);
    font-size: 15px;
}


.fourth-section-img-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

/* Fourth Section End  */

/* Footer Container Satrt  */

.footer-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 60px 0;
}

.footer-box {
    display: flex;
    width: 65%;
}

.footer-box h3 {
    width: 35%;
    font-size: 28px;
    font-family: "Russo One", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--dark-text);
}

.footer-box h3 a {
    color: var(--dark-text);
}

.footer-links {
    display: flex;
    gap: 100px;
    width: 65%;
}

.footer-links h4 {
    /* font-size: 20px; */
    font-weight: lighter;
    color: var(--dark-text);
    font-family: 'Courier New', Courier, monospace;
}

.footer-links li {
    list-style: none;
    margin: 20px 0;
}

.footer-links li a {
    color: var(--secondary-text);
    font-size: 15px;
}

/* Footer Container End  */

/* Footer Start  */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    background-color: rgb(246, 249, 253);
}

.footer-left ul {
    display: flex;
    gap: 15px;
}

.footer-left li {
    list-style: none;
    font-size: 12px;
    color: var(--secondary-text);
}

.footer-left li a {
    font-size: 12px;
    color: var(--secondary-text);
}

.footer-right i {
    color: rgb(99, 99, 99);
    margin: 0 7px;
    font-size: 22px;
}

/* Footer End  */